* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  grid-template-columns: 0.3fr 1fr;
  width: auto;
  height: 100vh;
  font-family: "Helvetica", "Arial", sans-serif;
}

body > div {
  border: 2px solid black;
}
.header {
  display: flex;
  gap: 32px;
  padding: 10px 32px;
  flex-direction: column;
}
.header-row-1,.header-row-2{
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #2094d4;
  display: grid;
  grid-template-rows: 0.1fr 0.2fr 0.2fr 0.5fr;
  gap: 32px;
  padding-top: 12px;
}
.dashboard ul {
  padding-left: 32px;
  padding-top: 16px;
  list-style: none;
}
li {
  padding: 7px;
}

.content {
  display: grid;
  background-color: #eeeff0;
  border: 1px solid #d6d9dc;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px 250px  ;
}
.card{
    border: 2px solid black;
}
.button-box{
    display: flex;
    justify-content: space-between;
    gap: 18px;
    
}
button{
    font-size: 12px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 80px;
  
    padding: 8px 20px;
    cursor: pointer;
    
     width: 80px;
     
    
  
}

 